@namespace Morph

<div class="morph-item @Class" style="@StyleString">
    <CascadingValue Value="_childContext" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [CascadingParameter] private MorphStageContext? Stage { get; set; }

    [Parameter] public string? Class { get; set; }

    [Parameter, EditorRequired] public string Vars { get; set; } = default!;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private MorphStageContext _childContext = default!;
    private string _rand = "0";

    private int Depth => Stage?.Depth ?? 0;

    private string StyleString => $"{Vars};--depth:{Depth};--rand:{_rand}";

    protected override void OnInitialized()
    {
        Stage?.Report();
        _rand = Random.Shared.NextDouble().ToString("0.###", System.Globalization.CultureInfo.InvariantCulture);
        _childContext = Stage?.Child() ?? new MorphStageContext(1, static _ => { });
    }
}
