@namespace Morph

<div class="morph-item @Class" style="--depth:@Depth;--rand:@_rand">
    <CascadingValue Value="_childContext" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [CascadingParameter] private MorphStageContext? Stage { get; set; }

    [Parameter] public string? Class { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private MorphStageContext _childContext = default!;
    private int _order;
    private string _rand = "0";

    private int Depth => Stage?.Depth ?? 0;

    protected override void OnInitialized()
    {
        Stage?.Report();
        _order = Stage?.NextOrder() ?? 0;
        _rand = Scatter(_order);
        _childContext = Stage?.Child() ?? new MorphStageContext(1, static _ => { }, new MorphOrderCounter());
    }

    private static string Scatter(int i)
    {
        var v = Math.Sin(i * 127.1 + 311.7) * 43758.5453;
        return (v - Math.Floor(v)).ToString("0.###", System.Globalization.CultureInfo.InvariantCulture);
    }
}
